{% extends "auth-base.html" %}
{% load static %}
{% block title %}PSMS - Station Employees{% endblock %}
{% block content %}
  <body class="h-100">
    <div class="container-fluid icon-sidebar-nav h-100">
      <div class="row h-100">
        
        <main class="main-content col" >
          <div class="main-content-container container-fluid px-4 my-auto h-100">
            <div class="row no-gutters h-100">
              <div class="col-lg-3 col-md-5 auth-form mx-auto my-auto">
                <div class="card"style="margin-left: -30%;width: 150%;">
                  <div class="card-body">
                    <img class="auth-form__logo d-table mx-auto mb-3" src="{% static 'images/shards-dashboards-logo.svg'%}" alt="Shards Dashboards - Register Template">
                    <h5 class="auth-form__title text-center mb-4">Email sent for Password Reset</h5>
                    <form method="post" >
                      {% csrf_token %}
                      <center>
                        {% if user.is_authenticated %}
                        {% include "account/already_logged_in.html" %}
                        {% endif %}
                        </center>
                      <div class="form-group mb-4">
                        We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it within a few minutes.
                      </div>
                    </form>
                  </div>
                </div>
                <div class="auth-form__meta d-flex mt-4">
                  <a class="mx-auto" href="{% url 'authenticate:login' %}">Take me back to login.</a>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
{% endblock %}
